@page
@model CuaHang.Pages.LHThem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <label for="Name">Ten Loai Hang</label>
        <input type="text" name="Ten" value=""/>
        <input type="submit" value="Them"/>
    </form>
    @model.Thongbao
</div>
</body>
</html>