@page
@using QLCH.Entity
@model QLCH.Pages.LHmoi

@{
    ViewData["Title"] = "Tao danh sach ma hang";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tao danh sach ma hang</title>
</head>
<body>
<div>
    <form method="post">
        <label id="viewport">Ten loai hang</label>
        <input type="text" name = "LoaiHangMoi"/>
        <input type="submit" value="Them"/>
    </form>
    <p class="alert-warning">@Model.Nortification</p>
    <br/>
    <h1 class="h1">Bang gia tri loai hang hien co</h1>
    <table>
        <tr>
            <th>Ma Loai Hang</th>
            <th>Loai Hang</th>
            <th>Chuc nang</th>
        </tr>
        
        @{
            foreach (LoaiHang label in Model.DSLH!)
            { <tr>
                  <td>@label.ID()</td>
                  <td>@label.Name</td>
                  <td>
                      @* <a href="LabelRemove?label=@Label">Xoa</a> *@
                      <button class="btn btn-outline-primary" onclick="window.location.href='LabelRemove?label=@label.ID()'">Xoa</button>
                      @* <a href="LabelUpdate?label=@Label">Sua</a> *@
                      <button class="btn btn-outline-primary" onclick="window.location.href='LabelUpdate?label=@label.ID()'">Cap Nhat</button>
                  </td>
              </tr>
            }
        }
       
    </table>
</div>
</body>
</html>